[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==9.0.0"
flask-ask = "==0.9.7"
cryptography = "<2.2"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.6"
